body, section {
  margin: 10px;
  padding: 10px;
} 
/* MAIN CLASSES */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 1px black;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: blue;
}
/* BUTTONS */
button {
  height: 10%;
  width: 20%;
  padding: 10px 0px;
}
/* SPRITES */

/* ANIMATION */

/* SOUNDS */

/* MEDIA QUERIES */